<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="../resources/Stylesheets/style.css">
    <title>Add Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script>
        if (sessionStorage.getItem("email") === ""){
            location.replace("../../index.html")
        }
        document.getElementById("btnLogout").addEventListener("click", () => {
            sessionStorage.setItem("email", "");
            location.replace("../controllers/logoutController.php");
            location.replace("../../index.html")
        })
        function initMap() {
            const myLatlng = { lat: 47.3667, lng: 8.55 };
            const map = new google.maps.Map(document.getElementById("map2"), {
                zoom: 6,
                center: myLatlng,
            });
            let infoWindow = new google.maps.InfoWindow({
                content: "Click the map to get Lat/Lng!",
                position: myLatlng,
            });
            infoWindow.open(map);

            map.addListener("click", (mapsMouseEvent) => {
                infoWindow.close();
                infoWindow = new google.maps.InfoWindow({
                    position: mapsMouseEvent.latLng,
                });
                document.getElementById("lat-form").value = JSON.stringify(mapsMouseEvent.latLng.toJSON()['lat'], null, 2)
                document.getElementById("lng-form").value = JSON.stringify(mapsMouseEvent.latLng.toJSON()['lng'], null, 2)
                infoWindow.open(map);
            });
        }
    </script>

</head>
<body>
<nav class="navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="home.html">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="home.html">Home</a></li>
            <li><a href="add.html">Add Report</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a id="btnLogout"><span class="glyphicon glyphicon-log-in"></span>
                Logout</a></li>
        </ul>
    </div>
</nav>
<div class="margin">
    <form action="../controllers/AddController.php" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Report Title</label>
            <input required name="title" type="text" class="form-control" aria-describedby="emailHelp"
                   placeholder="Report Title">
        </div>
        <div class="form-group">
            <label>Report Comment</label>
            <textarea required name="comment" class="form-control" placeholder="Report Comment"></textarea>
        </div>
        <div class="form-group">
            <label>Location lat/Breitengrad</label>
            <input required name="lat" type="text" class="form-control" placeholder="Location lat" id="lat-form">
        </div>
        <div class="form-group">
            <label>Location lng/Längengrad</label>
            <input required name="lng" type="text" class="form-control" placeholder="Location lng" id="lng-form">
        </div>
        <div class="form-group">
            <label>Report Image</label>
            <input required name="uploadfile" type="file" accept=".png, .jpg, .jpeg, .gif" class="form-control" placeholder="Report Image">
        </div>
        <button name="submit" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="margin" id="map2"></div>

<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV2WIUkQEM4E9_Mjza0wCuRQCwf91AO80&callback=initMap&libraries=&v=weekly"
        async>
</script>

</body>
</html>