.tdi{
    cursor: pointer;
}

.margin{
    margin-top: 3%;
    margin-right: 10%;
    margin-left: 10%;
}

.img{
    max-width: 500px;
}

#map {
    height: 735px;
    width: 100%;
}

#button{
    color: black;
}

#button:hover{
    text-decoration: none;
}

#map2 {
    height: 35%;
    width: 80%;
  }

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}